.embla {
  position: relative;
  background-color: #f7f7f7;
  padding: 20px;
  max-width: 60vh;
  margin-left: auto;
  margin-right: auto;
}

.embla_viewport {
  overflow: hidden;
  width: 100%;
}

.embla_viewport.is-draggable {
  cursor: move;
  cursor: grab;
}

.embla_viewport.is-dragging {
  cursor: grabbing;
}

.embla_container {
  display: flex;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: transparent;
  margin-left: -10px;
  
}

.embla_slide {
  padding-left: 10px;
  min-width: 100%;
  position: relative;
  height:80vh;
}

.embla_slide_inner {
  position: relative;
  overflow: hidden;
  height: 190px;
}

.embla_slide_img {
  position: relative;
  /* display: block; */
  top: 50%;
  left: 50%;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  max-width: none;
}

.embla_thumb {
  padding-top: 0;
  margin-top: -12px;
  
}

.embla_container_thumb {
  cursor: default;
  margin-left: -8px;
}

.embla_slide_thumb {
  padding-left: 8px;
  min-width: 20%;
  padding-left: 10px;
  min-width: 100%;
  position: relative;
}

.embla_slide_inner_thumb {
  touch-action: manipulation;
  cursor: pointer;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0;
  height: 180px;
  background-color: transparent;
  position: relative;
  display: block;
  overflow: hidden;
}

.embla_slide_thumbnail {
  opacity: 0.5;
  top: 0;
  bottom: 0;
  margin: auto;
  min-width: 120px;
  /* max-width: 3000px; */
  transition: opacity 0.5s;

}

.embla_slide_thumb.is_selected .embla_slide_thumbnail  {
  opacity: 1;
}

