.sidebar {
    /* General CSS */
    padding: 25px;
    background-color: blueviolet;
    /* Sticky and positioning */
    /* position:-webkit-sticky; */
    position: relative;
    top:10px;
    width: 15%;
    height: 100%;
}