.timeBar{
}
.timeBar div{
    height:5px;
    background: linear-gradient(to bottom, rgb(132, 0, 255),rgb(52, 0, 73));
    width:20%;
}


.slider{

}

.navigation{

}
.navigationButtons{
    display:flex;
    justify-content: space-between;
    /* transform:translateY(-500px); */
    height:0;                  
}
.button{
    /* Flexbox */
    /* General css */
    background:none;
    border:none;
    margin:0;
    padding:0;
    font-size:4vw;
    color:rgba(0,0,0,0);
    /* Transitions */
    transition:ease-out;
    transition-duration: 250ms;
    transition-delay:1000ms;
    

}

.main:hover .button{
    transition:ease-in;
    transition-duration: 250ms;
    transition-delay:500ms;
    color:rgba(230, 200, 250, 1);

} 


.dotGroup{
    /* Flexbox */
    display:flex;
    width:100%;
    justify-content: center;
    overflow-y: hidden;
    margin:2vh 0px 0px 0px;
  

}
@media screen and (max-width:599px) {
    .dot{
    display:none;
    }
}

@media screen and (min-width:600px) and (max-width:899px) {
    .dot{
        width:20px;
        height:20px;
        margin:0px 20px 0px 20px;
    }
}
@media screen and (min-width:900px){
    .dot{
        width:20px;
        height:20px;
        margin:0px 10px 0px 0px;

    }
}
.dot{
    /* General CSS */
    background: rgb(156, 62, 196);
    border-radius: 50%;
    border:none;

}
.dot:enabled{
    transition:ease-out;
    transition-duration: 400ms;
    transition-delay:100ms;
    background: rgba(230, 200, 250, 0.50);
}
.dot:hover{
    transition:ease-in;
    transition-duration: 300ms;
    transition-delay:200ms;
    border: 1px solid rgb(156, 62, 196);
}

/* .dot:active{
    background: red;
} */