.slider {
  /* General */
    width: 100vw;
    height: 60vh;
    display: flex;
    overflow-x: hidden;


/* Scroll */
    
    overflow-x: scroll;
    overflow-y:hidden;
    -webkit-overflow-scrolling: touch;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

.slide {
   /* General */
    width: 100vw;
    height: 100%;
    background-color: aqua; 

   /* Text */ 
    font-size: 200px;
    line-height: 1em ;
    color:black;

    /* Flex */
    display:flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* Scroll */
    scroll-snap-align: center;
    
}

.slider_button_wrapper{
  display:flex;
  flex-direction: row;
  justify-content: center;
}
.slider_button{
  width:18px;
  height:18px;
  border-radius: 50%;
  background-color: rgb(128, 128, 128);
  margin: 10px 30px 0px 0px;
  
}

.navigation_buttons{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}
.left_arrow{
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;
  border-left: 40px solid rgb(56, 56, 56);

}
.left_arrow:before{
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid rgb(255, 0, 0);
}
.right_arrow{
  border-top: 40px solid transparent;
  border-bottom: 40px solid transparent;

  border-right: 40px solid rgb(56, 56, 56);
}


/* .slider_button:active{
  width:19px;
  height:19px;
  border-radius: 50%;
  background-color: rgb(0, 0, 0);
  z-index:-2;
  margin: 9px 28px 0px 0px;
} */