.sidebar {
    /* General CSS */
    padding: 25px;
    background-color: blueviolet;
    opacity: 50%;
    /* Sticky and positioning */
    /* position:-webkit-sticky; */
    position: absolute;
    top:100px;
    width: 15vw;
    height: 99.3vh;
}