.main{
    /* display:flex; */

    background-color: rgba(255, 127, 80, 0.26);
}
.description{
    justify-content:center;
}
.title{
    color:red;
    height: 75px;
    text-align: center;
}
.footer{
    /* Flexbox  */
    display:flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    /* General CSS */
    height:25px;
    border: solid violet;
    border-width: 1px 0 0 0 ;  
    margin: 3vh 0 0 0;
}
.columns{
    /* Flexbox */
    flex-direction: row;
    /* General CSS */

}
.row{
    /* Flexbox */
    flex-direction: column;
    /* General CSS */

}
.navbar{
    /* Flexbox */
    display:flex;
    justify-content: space-around;
    flex-wrap:nowrap;
    /* General CSS */
}
.navbarColumn{
    /* Flexbox */
    flex-direction: row;
    /* General CSS */
}
.navbarRow{
   /* Flexbox */
   flex-direction: column;
   /* General CSS */

}
