.wrapper{

  background-color: rgba(170, 50, 220, 0.1);
  background-size: cover;
}

.footer {
    /* Flexbox  */
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    
    /* align-content: flex-end; */

    /* General CSS */
    height:auto;
    width:auto;
    margin: 3vh 0 0 0;

  }
  .columns {
    /* Flexbox */
    flex-direction: row;
    
    /* General CSS */
  }
  .row {
    /* Flexbox */
    flex-direction: column;
    align-content: space-between;
    
    /* General CSS */
    
  }
  