* {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* color: rgb(40, 40, 40); */
  /* color: red; */
  /* color: black; */
  /* background-color: rgb(250, 249, 246); */
}

h1 {
  font-weight: bold;
  color: rgb(40, 40, 40);
}
h2,
h3 {
  color: rgb(40, 40, 40);
}
ul,
ol,
li {
  color: rgb(40, 40, 40);
}
em {
  color: rgb(40, 40, 40);
}
label {
  color: rgb(40, 40, 40);
}
html {
  overflow-x: hidden;
  background-color: rgb(250, 249, 246);
}
main {
  font-size: 15px;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

p {
  /* Word styling */
  font-size: 100%;
  font: inherit;
  line-height: 1.4rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.1rem;
  color: rgb(40, 40, 40);
}
html,
body.div,
img {
  padding: 0;
  border: 0;
  vertical-align: baseline;

  /* Word styling */
  font-size: 100%;
  font: inherit;
  line-height: 1.2rem;
  word-spacing: 0.4rem;
  letter-spacing: 0.06rem;
  color: rgb(40, 40, 40);
}

body {
  margin: 10px 0 0 0;
  min-height: 100vh;
}
a {
  outline: none;
  text-decoration: none;
  color: rgb(40, 40, 40);

  /* padding: 2px 1px 0px; */
}

a:link {
  /* color: #265301; */
  cursor: pointer;
}

a:focus {
  color: #437a16;
  /* background: #BAE498; */
}

a:hover {
  border-bottom: 1px solid;
  cursor: pointer;
}

a:active {
  /* background: #265301; */
  /* color: #CDFEAA; */
}
